.fleft{
	position: relative;
	float:left;
}
.fright{
	position: relative;
	float:right;
}
/*下三角*/
.triangle-down { 
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 8px solid black; 
	margin-left: 75px;
	position: absolute;
	margin-top: -18px;
	/*animation: move1  1s;transform:rotate(180deg)*/
}
@keyframes move1{
	50%{transform:rotate(90deg);background: red;}
	100%{transform:rotate(180deg);background: blue;}
}