.con-lunbo{
	width:100%;
	max-width: 960px;
	margin:auto;
}
.con-lunbo:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
	}
.lunbotu{
}
#myCarousel{
	z-index: 7;
	width:60%;
	float: left;
}
#myCarousel img{
	height: 375px!important;
	width:100%!important;

}